.experiment {
    color: #333333;
    .introduction {
        padding-top: 50px;
        .explanation {
            display: block;
            font-size: 2em;
            color: #ccc;
            font-weight: 700;
            text-align: center;
        }
        .counter {
            margin-top: 110px;
            text-align: center;
            font-size: 15em;
            font-weight: 700;
            color: #999;
        }
    }
    section {
        padding: 50px;
        .experiment-words {
            .word {
                @include absolute(50%);
                margin-top: -90px;
                font-weight: 700;
                font-size: 4em;
                &.left {
                    left: 70px;
                }
                &.right {
                    right: 70px;
                }
            }
            .pie-wrapper {
                margin-top: 110px;
                background-color: white;
                @include absolute(auto, auto, 40px, 50%);
                margin-left: -20px;
            }
            @include timer('.pie-wrapper', 2.5, 40px, #eee, '5px solid #eee');
        }
        .experiment-imagescreen {
            padding-top: 45px;
            .image {
                display: block;
                width: 640px;
                height: 480px;
                top: 50%;
                left: 50%;
                margin-left: -320px;
                margin-top: -240px;
                position: absolute;
                img {
                    width: 100%;
                }
            }
        }
    }
    .finishing {
        padding-top: 80px;
        .title {
            font-size: 3em;
            color: #ccc;
            font-weight: 700;
            text-align: center;
        }
        .pie-wrapper {
            margin-top: 110px;
            background-color: white;
            @include absolute(50%, auto, 40px, 50%);
            margin-top: -150px;
            margin-left: -75px;
        }
        @include timer('.pie-wrapper', 5, 150px, #eee, '5px solid #eee');
    }
}