#language_selector {
	text-align: center;
	padding-top: 100px;
    h1 {
        color: #999;
        margin-bottom: 50px;
        strong {
        	text-decoration: underline;
        }
    }
    .reminder {
    	margin-top: 50px;
    	color: #ccc;
    	font-style: italic;
    }
    .languages {
        .language {
            @include transition(opacity, 0.2s, ease);
            @include opacity(0.6);
            display: inline-block;
            position: relative;
            margin-right: 1.5%;
            max-width: 120px;
            width: 30%;
            text-align: center;
            font-weight: 700;
            font-size: 50%;
            cursor: pointer;
            .flag {
                position: absolute;
                display: block;
                margin: 0 auto 20px;
                background-position: 50% 0%;
                background-repeat: no-repeat;
                width: 100%;
                height: 100%;
                &.flagenglish {
                    background-image: url(../images/flags/United-States-of-America.png);
                }
                &.flagswedish {
                    background-image: url(../images/flags/Sweden.png);
                }
                &.flagchinese {
                    background-image: url(../images/flags/China.png);
                }
                &.flaggerman {
                    background-image: url(../images/flags/Germany.png);
                }
                &.flagportuguese {
                    background-image: url(../images/flags/Brazil.png);
                }
            }
            .flag_label {
            	font-size: 2em;
                position: relative;
                color: rgba(0, 0, 0, 0.4);
                transition: color 0.3s;
                display: block;
                padding-top: 50%;
                width: 100%;
                height: 100%;
            }
            &:hover {
                @include opacity(1);
            }
        }
    }
}