.macbook {

    margin-top: 50px;

    .macscreenwrap {
        @include box-sizing(border-box);
        background: #373435;
        width: 435px;
        border-top-right-radius: 13px;
        border-top-left-radius: 13px;
        padding: 15px;
        position: relative;
        margin: 0 auto;

    }
    .macscreen {
        width: 100%;
        height: 270px;
        background: #f7f7f7;
        position: relative;
    }
    .keypadtop {
        background: #e6e7e8;
        width: 550px;
        height: 25px;
        margin: 0 auto;
    }
    .keyhold {
        background: #a9abae;
        width: 77px;
        height: 8px;
        border-bottom-right-radius: 5px;
        border-bottom-left-radius: 5px;
        margin: 0 auto;
        box-shadow: inset 0 -1px 0px #9f9f9f;
    }
    .keypadbottom {
        width: 547px;
        height: 25px;
        perspective: 550;
        margin: 0 auto;
    }
    .keypadbottom div {
        background: #bbbdc0;
        width: 547px;
        height: 7px;
        position: absolute;
        transform: rotateX(-45deg);
        top: -2px;
    }
}