.thankyou {
    color: #999;
    text-align: center;
    padding-top: 80px;
    .icon {
        color: $colorBlue;
        font-size: 5em;
    }
    .title {
        display: block;
        font-size: 3em;
        color: #ccc;
        font-weight: 700;
    }
    .more {
        margin: 40px 0px;
    }
    .results {
        .result {
            color: $colorBlue;
            font-weight: bold;
        }
    }
}