<div class="container-fluid" id="canvas" ng-class="{'sidebar-open': sidebar, 'sidebar-middle': sidebar_middle}">

    <canvas id="visualization"></canvas>

    <button ng-if="!sidebar_middle" ng-click="toggleSidebar()" class="sidebar-btn btn btn-flat btn-circle"><i class="fa fa-bars"></i>
    </button>

    <div id="sidebar">

        <!-- CHOOSING INPUT -->
        <div class="divide">
            <div id="sidebar_input" class="section">
                <p class="section_title">INPUT CHANNEL</p>

                <span class="section_icon"><i class="fa fa-2x" ng-class="{'fa-microphone': input.selected.value == 'microphone', 'fa-music': input.selected.value == 'preset', 'fa-file-sound-o': input.selected.value == 'file', 'fa-soundcloud': input.selected.value == 'soundcloud'}"></i></span>

                <div class="sidebar_dropdown" dropdown-select="input.possible" dropdown-model="input.selected" dropdown-item-label="name">
                </div>
            </div>


        </div>
        <div class="divide">

            <!-- PRESET AUDIO FILES -->
            <div id="sidebar_input_preset" ng-if="input.selected.value == 'preset'" class="section">

                <p class="section_title">PICK THE INPUT</p>

                <div class="sidebar_dropdown" dropdown-select="preset.possible" dropdown-model="preset.selected" dropdown-item-label="name">
                </div>

                <div ng-if="preset.selected.value">
                    <button ng-disabled="loading" ng-click='togglePlayPreset()' id="preset_play" class="btn btn-circle btn-flat btn-lg"><i class="fa" ng-class="{'fa-play': (!playing && !loading), 'fa-pause': (playing && !loading), 'fa-ellipsis-h': loading}"></i>
                    </button>
                </div>

            </div>

            <!-- SOUNDCLOUD -->
            <div id="sidebar_input_soundcloud" ng-if="input.selected.value == 'soundcloud'" class="section">

                <p class="section_title">SOUNDCLOUD URL</p>

                <input type="text" class="btn btn-lg" ng-model="soundcloud_url" />

                <div ng-if="soundcloud_url">

                    <button class="btn btn-flat" ng-click="setUpSoundCloud(soundcloud_url)">Load</button>

                    <button ng-disabled="loading" ng-click='togglePlaySoundCloud()' id="soundcloud_play" class="btn btn-circle btn-flat btn-lg"><i class="fa" ng-class="{'fa-play': (!playing && !loading), 'fa-pause': (playing && !loading), 'fa-ellipsis-h': loading}"></i>
                    </button>
                </div>

            </div>
        </div>
        <div class="divide section" ng-if="!sidebar_middle">
            <p class="section_title">CANVAS</p>

            <p><button ng-click='layerCanvas()' class="btn btn-circle btn-flat"><i class="fa fa-files-o"></i></button> <button ng-click='eraseCanvas()' class="btn btn-circle btn-flat"><i class="fa fa-eraser"></i></button></p>
        </div>

        <div class="divide sidebar_save">

            <!-- START OPTIONS -->
            <div ng-if="ready && sidebar_middle" class="section">
                <p>
                    <button ng-click='startAll()' class="btn btn-flat btn-lg">
                        <i class="fa fa-paint-brush"></i> Start
                    </button>
                </p>
            </div>

            <!-- SAVE OPTIONS -->
            <div ng-if="ready && !sidebar_middle" class="section">
                <p>
                    <button ng-click="saveImage()" class="btn btn-flat btn-lg">
                        <i class="fa fa-download"></i> Save Image
                    </button>
                </p>
                <p>
                    <button ng-click="shareImage()" class="btn btn-flat btn-lg">
                        <i class="fa fa-cloud-upload"></i> Share Image
                    </button>
                </p>
            </div>
        </div>

    </div>

</div>