<div class="container" ng-class="{loading: loading==true}" id="intro">

    <div class="loader" ng-if="loading == true">
        <div class="pie-wrapper">
            <div class="pie spinner"></div>
            <div class="pie filler"></div>
            <div class="mask"></div>
        </div>
    </div>

    <div ng-if="loading == false">

        <div class="header text-center">
            <h1 class="text-muted">Object Recognition Experiment</h1>
        </div>

        <div class="jumbotron">
            <div class="row">
                <div class="col-md-4 col-xs-12">
                    <span class="icon fa fa-thumbs-up "></span>
                    <p>{{intro_hello}}</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <span class="icon fa fa-laptop "></span>
                    <p>{{intro_laptop}}</p>
                </div>
                <div class="col-md-4 col-xs-12">
                    <span class="icon fa fa-clock-o "></span>
                    <p>{{intro_time}}</p>
                </div>
            </div>
            <div class="row">
                <p>
                    <a class="btn btn-primary btn-lg" ng-click="goFullscreen()" ng-href="#/start" role="button">
                        <span class="fa fa-check"></span> {{participate_btn}}</a>
                </p>
            </div>
        </div>

        <div class="footer text-center">
            <p>
                <span class="fa fa-heart"></span> Made with love by <a href="mailto:acvs@kth.se">Arthur Camara</a>, <a href="mailto:acvds@kth.se">Shuo Feng</a> and <a href="mailto:acvs@kth.se">Charles Windlin</a> at <a href="http://www.kth.se">KTH</a>
            </p>
        </div>
    </div>
</div>