<div class="container" id="language_selector">
    <h1>Please, choose your <strong>native</strong> language:</h1>

    <div class="languages">
        <div class="language" ng-repeat="lang in languages" ng-click="selectLanguage(lang.value)">
            <div id="{{lang.value}}" ng-model="form.language" name="language" class="flag flag{{lang.value}}" data-image="{{lang.image}}"></div>
            <span class="flag_label">{{lang.name}}</label>
        </div>
    </div>

    <p class="reminder">Only native speakers of the languages listed above should participate.</p>
</div>