<div class="start-form fs-form-wrap" id="fs-form-wrap">
    <form id="start-form" class="fs-form fs-form-full" ng-submit="submitForm()" autocomplete="off">
        <div class="explanation">{{questions_title}}</div>
        <ol class="fs-fields">
            <li>
                <label class="fs-field-label fs-anim-upper" for="q2" data-info="{{questions_email_info}}">{{questions_email}}</label>
                <input class="fs-anim-lower" id="q2" name="q2" type="email" placeholder="example@email.com" ng-model="form.email" required/>
            </li>
            <li data-input-trigger>
                <label class="fs-field-label fs-anim-upper">{{questions_blind}}</label>
                <div class="fs-radio-group fs-radio-custom clearfix fs-anim-lower">
                    <span>
                        <input id="yes" ng-model="form.blindness" name="blindness" type="radio" value="yes"/><label for="yes" class="blindness-yes">{{questions_blind_1}}</label>
                    </span>
                    <span>
                        <input id="no" ng-model="form.blindness" name="blindness" type="radio" value="no"/><label for="no" class="blindness-no">{{questions_blind_2}}</label>
                    </span>
                </div>
            </li>
        </ol>
        <!-- /fs-fields -->
        <button class="fs-submit btn btn-lg btn-success" type="submit"><span class="fa fa-ok"></span> {{questions_confirm}}</button>
    </form>
    <!-- /fs-form -->
</div>