<div id="progress" style="width: 100%"></div>
<div class="thankyou">
    <span class="icon fa fa-thumbs-o-up"></span>
                <p>
    <h1 class="title">{{results_title}}</h1>
    <h2 class="subtitle">{{results_subtitle}}</h2>

    <div class="jumbotron more">
    <p class="results" ng-bind-html="results_text1"></p>
    <p class="results" ng-bind-html="results_text2"></p>

    <hr />
    <p>{{results_contact}}</p>
    <p><a href="mailto:acvs@kth.se">Arthur Camara</a> | <a href="mailto:acvds@kth.se">Shuo Feng</a> | <a href="mailto:acvs@kth.se">Charles Windlin</a></p>
    </div>

    <button class='btn btn-lg btn-primary' ng-click='closeExperiment()'><span class="fa fa-check-circle "></span> {{close_btn}}</button>
</div>